html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  color: #f3d541;
}

h2 {
  letter-spacing: 0.08em;
}
h3 {
  font-weight: 400;
}

p {
  margin: 0 auto;
  max-width: 600px;
}

button {
  border: none;
  background: rgba(0, 0, 0, 0.666);
  color: #FFFFFF;
  font-size: 18px;
  width: 36px;
  height: 36px;
  line-height: 18px;
  border-radius: 50%;
  opacity: 0.8;
  border-radius: 50%;
  outline: none;
  transition: opacity 300ms;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

button:hover,
.icon-twitter:hover,
.icon-facebook:hover,
.takeaway_logo:hover {
  opacity: 1;
}

.icon-angle-double-down {
  position: absolute;
  bottom: 7%;
  color: #FFFFFF;
  font-size: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 48px;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  height: 48px;
  line-height: 48px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000000;
}

small {
  font-size: 0.5em;
}

section,
footer {
  position: relative;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.red {
  padding: 0 4px;
  border-bottom: 2px solid #F00023;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, #F00023 50%, transparent 50%);
  transition: background-position 300ms, color 500ms;
  background-position: 0 0;
}

.red:hover {
  color: #FFFFFF;
  background-position: 0 100%;
}

.bold {
  font-weight: 700;
}


/*! ----- section specific ---- ! */

/*====> HEADER*/
.jumbotron {
  z-index: 2;
  background: #e01837;
  height: 100vh;
  position:relative;
  overflow: hidden;
}

.app-title,
.eyebrow {
  left: -5000px;
  position: absolute;
}

.eyebrow {
  top:80%;
  font-size: 1.25em;
  font-weight: 300;
}

.poster {
  width: 100%;
  height: auto;
}

.poster-wrapper {
  margin: 0 auto !important;
  width: 100%;
  max-width: 1280px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

/* ====> ABOUT */

.about {
  margin-top: -10px;
  background-size: cover;
  color: #000000;
  padding: 5% 10% 10%;
}

.about article {
  display: inline-block;
  position: relative;
}

.about h2 {
  font-size: 2.25em;
  text-align: center;
  width: 90%;
  margin: 0 auto 24px;
}

.about p {
  font-size:1.5em;
  margin-top: 24px;
  margin-bottom: 24px;
  max-width: 600px;
}

.about p:first-of-type {
  float: left;
  margin-left: 5%;
}

.about p:last-of-type {
  float: right;
  margin-right: 5%;
  text-align: right;
  margin-bottom:0;
}

.emphasis {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 0.04em;
  /*border-bottom: 2px solid #FFFFFF;*/
}

/* ====> MAP */

.map {
  padding: 24px;
  background: #FFFFFF;
}

.map h3 {
  bottom: 25px;
}

#world-map-gdp {
  width: 66%;
  height: 556px;
  float:left;
}

#slider  {
  width: 31%;
  display:inline;
  float:left;
  padding: 0 1%;
}

.jvectormap-legend {
  background: #ffffff;
  color: #000000;
  font-family: 'Lato', sans-serif;
}

.legend ul {
  font-size: 0.85em;
  font-family: 'Lato', sans-serif;
}
.legend ul span {
  padding-left: 0.5em;
}
.field-desc {
  font-size: 0.75em;
  min-height: 145px;
}

#slider form, .map-desc {
  margin-bottom: 24px;
}

.label {
  display:block;
  font-family: 'Lato', sans-serif;
}

.label:hover {
  cursor: pointer;
}

.label small {
  font-weight: 300;
}
/*** custom checkboxes ***/

.viz_radio {
  display:none;
} /* to hide the radio itself */

.viz_radio + .label:before {
  font-family: 'fontello';
  display: inline-block;
}

.viz_radio + .label:before {
  content: "\e806";
  letter-spacing: 10px;
} /* unchecked icon */

.viz_radio:checked + .label:before {
  content: "\e807";
  letter-spacing: 5px;
  font-weight: 900;
} /* checked icon */

.viz_radio:checked + .label {
  font-weight: 900;
}

.viz_radio:checked + .label small {
  font-weight: 400;
}

/* ===> Timeline */

.timeline {
  padding: 24px;
  clear: both;
}

.timeline button {
  float: right;
  margin-right: 12px;
  color: #FFFFFF;
}

.close {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
/* ===> Footer */

.footer {
  display: table !important;
  width: 100%;
  border-top: 1px solid #CCCCCC;
  padding-top: 12px;
}

.footer_cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 33%;
}

.author {
  text-align: left;
  padding-left: 24px;
}

.takeaway_logo {
  width: 150px;
  opacity: 0.8;
  transition: opacity 300ms;
}

.icon-twitter, .icon-facebook {
  display: inline;
  font-size: 1.3em;
  opacity: 0.8;
  transition: opacity 300ms;
}

.icon-facebook {
   color: #45619D;
}

.icon-twitter {
  color: #55ACEE;
  margin-right: 24px;
}

.social-media-buttons-container {
  text-align: right;
}

@media screen and (max-width: 720px) {

  #world-map-gdp {
    width: 100%;
    height: 240px;
    float:none;
    display:block;
  }

  #slider  {
    width: 100%;
    display:block;
    float: none;
  }

  .about h2 {
    font-size: 1.5em;
    width: 100%;
  }

  .about p:first-of-type {
    float: none;
    margin-left: 0;
  }

  .about p:last-of-type {
    float: none;
    margin-right: 0;
    text-align: left;
  }

  .about p {
    font-size: 1em;
  }

  .about .icon-angle-double-down {
    bottom: 0;
  }

  .jumbotron .icon-angle-double-down {
    display:none;
  }

  .footer {
    display: block !important;
  }

  .footer_cell {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 24px;
    padding: 0;
  }

}

@media screen and (max-device-width: 568px) {

  #world-map-gdp {
    width: 100%;
    height: 240px;
    float:none;
    display:block;
  }

  #slider  {
    width: 100%;
    display:block;
    float: none;
  }

  .about h2 {
    font-size: 1.5em;
    width: 100%;
  }

  .about p:first-of-type {
    float: none;
    margin-left: 0;
  }

  .about p:last-of-type {
    float: none;
    margin-right: 0;
    text-align: left;
  }

  .about p {
    font-size: 1em;
  }

  .about .icon-angle-double-down {
    bottom: 0;
  }

  .jumbotron .icon-angle-double-down {
    display:none;
  }

  .footer {
    display: block !important;
  }

  .footer_cell {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 24px;
    padding: 0;
  }

}

